<!doctype html>
<html ng-app="clientApp">
<head>
    <meta charset="utf-8">
    <title>Radioson</title>
    <link rel="stylesheet" type="text/css" href="themes/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="themes/css/jquery.mobile.datepicker.css">
    <script src="themes/js/jquery-2.1.1.js"></script>
    <script src="themes/js/jquery.mobile-1.4.5.min.js"></script>
    <script src="themes/js/jquery.mobile.dynamic.popup.js"></script>
    <!--<script src="themes/js/jquery.ui.datepicker.js"></script>
    <script src="themes/js/jquery.mobile.datepicker.js"></script>  -->
    <!--<link rel="stylesheet" type="text/css" href="http://cdn.jtsage.com/datebox/latest/jqm-datebox.min.css">-->
    <link rel="stylesheet" type="text/css" href="themes/css/jqm-datebox.min.css">
    <!--<script type="text/javascript" src="http://cdn.jtsage.com/datebox/latest/jqm-datebox.core.js"></script>-->
    <script src="themes/js/jqm-datebox.core.js"></script>
    <!--<script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.mode.flipbox.min.js"></script>-->
    <script src="themes/js/jqm-datebox.mode.flipbox.min.js"></script>
    <link rel="stylesheet" href="themes/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" href="themes/css/style.css">

     <script src="cordova.js" type="text/javascript"></script>

    <script src="themes/js/mobile.js"></script>
    <!--
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    -->
    <link rel="stylesheet" type="text/css" href="themes/css/font-awesome.min.css">
    <link rel="stylesheet" href="themes/css/custom-select.css" />


    <link href="themes/css/lightbox.css" rel="stylesheet">

    <link rel="stylesheet" href="themes/css/owl.carousel.css">
    <script src="themes/js/owl.carousel.min.js"></script>
</head>

<body ng-controller="clientCtrl">

<input type="hidden" id="RootUrl" value="http://ay.kendevs.com/MobileApi/api/"/>
<input type="hidden" id="SiteUrl" value="http://ay.kendevs.com/"/>
<!--
<input type="hidden" id="RootUrl" value="http://localhost:26153/api/"/>
<input type="hidden" id="SiteUrl" value="http://localhost:14931/"/>
-->

<input type="hidden" id="UserId" value="908240ce-3808-4d93-9bce-36425996b57d"/>
<input type="hidden" id="accessToken" value=""/>
<!--
<input type="hidden" id="HFLatitude" value="-1.268125" />
<input type="hidden" id="HFLongitude" value="36.806330" />
-->

<input type="hidden" id="HFLatitude" value=""/>
<input type="hidden" id="HFLongitude" value=""/>

<a data-role="none" href="#menupanel" id="menuicon"></a>
<a data-role="none" href="#menupanel" id="menuclose" data-rel="close"></a>

<div id="menupanel" data-role="panel" class="jqm-navmenu-panel" data-position="left" data-display="push" data-theme="a">
    <ul id="mainmenu" data-role="listview" class="ui-listview">
        <li class="ui-first-child"><a href="#" id="menu-teaser" class="ui-btn">Main Menu</a></li>

        <li><a href="#landing" id="lnklanding" data-transition="pop" class="ui-btn ui-btn-icon-right ui-icon-carat-r">Home</a>
        </li>
        <li><a href="#" class="lnkhospitalsearch ui-btn ui-btn-icon-right ui-icon-carat-r">Search Hospitals</a></li>
        <li><a href="#" class="lnkMyQuestions ui-btn ui-btn-icon-right ui-icon-carat-r">My Questions</a></li>
        <li><a href="#" data-transition="slide" class="lnkAskQuiz ui-btn ui-btn-icon-right ui-icon-carat-r">Ask a
            Quiz</a></li>
        <li><a href="#" data-transition="slide" class="lnkfirstaid ui-btn ui-btn-icon-right ui-icon-carat-r">First Aid
            Tips</a></li>
        <li class="ui-last-child"><a href="#" class="lnkMyAccount ui-btn ui-btn-icon-right ui-icon-carat-r">My
            Account</a></li>
        <li><a class="lnkLanding ui-btn ui-btn-icon-right ui-icon-carat-r"  href="#main-landing"  data-transition="slide" >Landing Page</a></li>

        <li><a class="lnkLogout ui-btn ui-btn-icon-right ui-icon-carat-r"  href="#">Log out</a></li>
    </ul>
</div>
<main id="main-panel">
    <div data-role="page" id="decoyLanding"  >
        <div data-role="header">

            <img src="images/logo.png" width="254" height="56" alt=""/>

        </div>
        <div class="landing" data-role="content">

        </div>
    </div>
    <div data-role="page" id="login" data-theme="a">
        <div data-role="header">
            <img src="images/logo.png" width="254" height="56" alt=""/>
        </div>
        <div data-role="content">
            <form id="frm-login">
                <span class="span-success">Registration sucessful. Please login below.</span>
                <div data-role="fieldcontain">
                    <label for="textinput6">Email:</label>
                    <input type="text" name="Email" value="" />
                </div>
                <div data-role="fieldcontain">
                    <label for="textinput5">Password</label>
                    <input type="password" name="Password"  value="" />
                </div>

                <button id="btnLogin" data-icon="arrow-r">Login</button>

                <a data-transition="slide" class="lnkForgotPassword lnkregister pull-left" href="#forgot-password">Forgot Password</a>
                <a data-transition="slide" ng-click="register()" class="lnkregister" href="#">Register</a>

            </form>
        </div>
        <div data-role="footer">
            <h4></h4>
        </div>
    </div>

    <div data-role="page" id="landing">
        <div data-role="header">
            <a href="#" data-role="none"
               class="jqm-navmenu-link ui-btn ui-btn-icon-notext  ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
            <img src="images/logo.png" width="254" height="56" alt=""/>

        </div>
        <div data-role="content">
            <ul data-role="listview">
                <li><a class="lnkMyQuestions" ng-click="getPatientQueries()" href="#">Patient Queries</a></li>
                <li><a class="lnkMyAppointments" ng-click="getMyAppointments()" href="#">Appointments</a></li>
                <li><a class="lnkAskQuiz" ng-click="getClinic()" data-transition="slide" href="#">My Clinics</a></li>
                <li><a class="lnkMyAccount" ng-click="getProfile()" href="#">My Profile</a></li>
                <li><a class="lnkfirstaid" data-transition="slide" target="_blank" href="http://radiosonconsult.com">Radioson
                    Website</a></li>
            </ul>

            <a data-role="none" id="lnkInit" ng-click="initApp()" href="#"></a>
            <!-- Set up your HTML -->
            <div class="featured-products">
                <h2>Featured Products</h2>
                <div class="owl-carousel">
                    <div ng-repeat="product in featuredProducts">
                        <a href="#" ng-click="getProductDetails(product.Id)">
                            <div class="thumbnail">
                                <img src="{{UploadsRoot}}/products/th_{{product.Image}}" class="img-responsive">
                            </div>
                            <span>{{product.Name}}</span>
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <div data-role="footer">
            <h4></h4>
        </div>
    </div>
    <!--Close Page-->
    <div data-role="page" id="main-landing">
        <div data-role="header">
            <a href="#" data-role="none"
               class="jqm-navmenu-link ui-btn ui-btn-icon-notext  ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
            <img src="images/logo.png" width="254" height="56" alt=""/>

        </div>
        <div class="landing" data-role="content">

            <a href="client.html" data-ajax="false" style="padding-top: 60px">
                <img src="images/patient.png">
                <span>Patients' App</span>
            </a>
            <a href="#" onclick="landing()"><img src="images/doctor.png">
                <span>Doctors' App</span>
            </a>

        </div>
    </div>
    <!--Close Page-->
    <div data-role="page" id="patient-queries" data-theme="a">
        <div data-role="header">
            <a href="#" data-role="none"
               class="jqm-navmenu-link ui-btn ui-btn-icon-notext  ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
            <img src="images/logo.png" width="254" height="56" alt=""/>
        </div>
        <div id="hospital-list-cont" data-role="content">

            <ul class="questions-list" data-role="listview">
                <!--
               <li ng-repeat="query in queries">{{query.LatestSender}}</li>
               -->

                <li class="chat-33" ng-repeat="query in queries">
                    <a href="#" ng-click="getChatList(query.Id)" class="li-chat-list ui-btn" doc="query.UserId"
                       rel="{{query.Id}}" data-bind="attr: {rel: Id,doc: UserId}">
                        <span class="sender-title" data-bind="text: LatestSender">{{query.LatestSender}}</span>
                        <span class="timespan" data-bind="text: convertDateTime(DateSent)">{{query.DateSent | date:"dd/MM/yyyy h:mma"}}</span>
                        <span class="chat-msg" data-bind="text: LatestMessage">{{query.LatestMessage}}</span>
                    </a>
                    <span class="read-status-{{query.IsDoctorRead}}"
                          data-bind="attr: {class: 'read-status-'+ IsRead}"></span>
                </li>

            </ul>

            <a class="lnkChat hidden" data-role="none" data-transition="slide" href="#chat"></a>

            <div ng-show="queries.length===0" class="col-md-12 col-xs-12">
                <p class="empty-results">No questions found.</p>
            </div>
        </div>

    </div>
    <!--Close Page-->
    <div data-role="page" id="chatList" data-theme="a">
        <div data-role="header">
            <a href="#" data-role="none"
               class="jqm-navmenu-link ui-btn ui-btn-icon-notext  ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
            <img src="images/logo.png" width="254" height="56" alt=""/>
        </div>
        <div data-role="content">

            <div id="chatcont">
                <div class="msg" ng-repeat="message in chatList">
                    <span class="chat-inner-date">{{message.DateSent | date:"dd/MM/yyyy h:mma"}}</span>

                    <div class="talk-bubble tri-right round {{message.CssClass}}">
                        <div class="talktext"><p>{{message.Message}}</p></div>
                    </div>
                </div>
            </div>
            <div data-role="fieldcontain" id="chatControlsCont">
                <textarea type="text" name="chatmessage" id="chatmessage" value=""></textarea>
                <button class="send-btn sendsignalr" rel="" data-iconpos="right" data-icon="arrow-r">Send</button>
                <input type="hidden" id="DoctorID"/>
            </div>

            <div id="chatStatus">
                <p></p>
            </div>


        </div>
        <div data-role="footer">
            <h4></h4>
        </div>
    </div>
    <!-- Close page -->
    <div data-role="page" id="register" data-theme="a">
        <div data-role="header">
            <a href="#" data-role="none"
               class="jqm-navmenu-link ui-btn ui-btn-icon-notext  ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
            <img src="images/logo.png" width="254" height="56" alt=""/>
        </div>
        <div data-role="content">
            <form id="frm-register">
                <div data-role="fieldcontain">
                    <label for="textinput6">Speciality:</label>
                    <select name="SpecialityId" id="registerSpecialityId" ng-model="selectedSpeciality">
                        <option ng-selected="(speciality.Id == 1)" ng-repeat="speciality in specialities" value="{{speciality.Id}}">{{speciality
                            .Name}}
                        </option>
                    </select>
                </div>

                <div data-role="fieldcontain">
                    <label>Surname:</label>
                    <input type="text" name="Surname" value=""/>
                </div>
                <div data-role="fieldcontain">
                    <label>First Name:</label>
                    <input type="text" name="FirstName"  value=""/>
                </div>
                <div data-role="fieldcontain">
                    <label>Last Name:</label>
                    <input type="text" name="LastName" value=""/>
                </div>
                <div data-role="fieldcontain">
                    <label>Phone:</label>
                    <input type="text" name="Phone"  value=""/>
                </div>
                <div data-role="fieldcontain">
                    <label>Email:</label>
                    <input type="text" name="Email" id="RegUserEmail" value=""/>
                </div>
                <div data-role="fieldcontain">
                    <label>ID Number:</label>
                    <input type="text" name="IdNumber" value=""/>
                </div>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-type="horizontal">
                        <legend>Gender</legend>
                        <input type="radio" name="GenderId" id="gender_0" value="1"/>
                        <label for="gender_0">Male</label>
                        <input type="radio" name="GenderId" id="gender_1" value="2"/>
                        <label for="gender_1">Female</label>
                    </fieldset>
                </div>
                <div data-role="fieldcontain">
                    <label>Password:</label>
                    <input type="password" class="password" name="Password" id="passwordinput" value=""/>
                </div>
                <div data-role="fieldcontain">
                    <label>Confirm Password:</label>
                    <input type="password" class="passwordconfirm" name="ConfirmPassword" id="passwordinput2" value=""/>
                </div>
                <input type="hidden" name="AccountTypeId" value="1"/>
                <button id="btnRegister" data-icon="star">Submit</button>
            </form>
        </div>

    </div>
    <div data-role="page" id="my-clinics" data-theme="a">
        <div data-role="header">
            <a href="#" data-role="none"
               class="jqm-navmenu-link ui-btn ui-btn-icon-notext  ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
            <img src="images/logo.png" width="254" height="56" alt=""/>
        </div>
        <div id="appointments-list-cont" data-role="content">
            <ul class="appointments" data-role="listview">

                <li ng-repeat="clinic in clinics">
                    <a href="#" ng-click="" class="li-appointment ui-btn">
                        {{clinic.Hospital.Name}} - {{clinic.Branch.Name}}
                    </a>
                </li>

            </ul>


        </div>

    </div>
    <!--Close Page-->
    <div data-role="page" id="profile" data-theme="a">
        <div data-role="header">
            <a href="#" data-role="none"
               class="jqm-navmenu-link ui-btn ui-btn-icon-notext  ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
            <img src="images/logo.png" width="254" height="56" alt=""/>
        </div>
        <div data-role="content">
            <form id="frmUpdateProfile">
                <div data-role="fieldcontain">
                    <label for="textinput6">Speciality:</label>

                    <select name="SpecialityId" id="ddQSpeciality">
                        <option value="0">Select</option>
                        <option ng-repeat="speciality in specialities" value="{{speciality.Id}}">{{speciality
                            .Name}}
                        </option>
                    </select>
                </div>

                <div data-role="fieldcontain">
                    <label for="textinput6">Surname:</label>
                    <input type="text" name="Surname" id="textinput6" value="{{user.Surname}}"/>
                </div>
                <div data-role="fieldcontain">
                    <label for="textinput5">First Name:</label>
                    <input type="text" name="FirstName" id="textinput5" value="{{user.FirstName}}"/>
                </div>
                <div data-role="fieldcontain">
                    <label for="textinput5">Last Name:</label>
                    <input type="text" name="LastName" id="textinput5" value="{{user.LastName}}"/>
                </div>
                <div data-role="fieldcontain">
                    <label for="textinput4">Phone:</label>
                    <input type="text" name="Phone" id="textinput4" value="{{user.Phone}}"/>
                </div>
                <div data-role="fieldcontain">
                    <label for="textinput3">Email:</label>
                    <input type="text" name="Email" id="RegUserEmail" value="{{user.Email}}"/>
                </div>
                <div data-role="fieldcontain">
                    <label for="textinput4">ID Number / Passport:</label>
                    <input type="text" name="IdNumber" value="{{user.IdNumber}}"/>
                </div>
                <div data-role="fieldcontain">

                    <div data-role="fieldcontain">
                        <fieldset data-role="controlgroup" data-type="horizontal">
                            <legend>Gender</legend>
                            <input type="radio" name="GenderId" ng-checked="(user.GenderId == 1)" id="gender_0"
                                   value="1"/>
                            <label for="gender_0">Male</label>
                            <input type="radio" name="GenderId" ng-checked="(user.GenderId == 2)" id="gender_1"
                                   value="2"/>
                            <label for="gender_1">Female</label>
                        </fieldset>
                    </div>

                </div>

                <input type="hidden" class="UserId" name="Id" value="{{user.Id}}"/>
                <a id="updateProfile" data-role="button" data-icon="star">Update</a>
            </form>

            <!-- Start Popup --->
            <a id="lnk-profile-popup" class="lnkpopup hidden" href="#profile-popup" data-rel="popup"
               data-position-to="window" data-transition="pop" data-role="none">PopUp</a>

            <div data-role="popup" id="profile-popup" data-dismissible="true" style="max-width: 400px;">
                <div data-role="header">
                    <h1 class="popup-header">Success</h1>
                </div>
                <div role="main" class="ui-content">
                    <div class="popup-text">
                        <p>Profile information updated</p>
                    </div>
                    <div class="mc-text-left">
                        <a data-role="button" href="#" class="close-popup">Close</a>
                    </div>

                </div>
            </div>
            <!-- End Popup --->


        </div>
        <div data-role="footer">

        </div>
    </div>
    <!-- Close Page -->
    <div data-role="page" id="my-appointments" data-theme="a">
        <div data-role="header">
            <a href="#" data-role="none"
               class="jqm-navmenu-link ui-btn ui-btn-icon-notext  ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
            <img src="images/logo.png" width="254" height="56" alt=""/>
        </div>
        <div id="appointments-list-cont" data-role="content">
            <ul class="appointments" data-role="listview">

                <li ng-repeat="appointment in appointments">
                    <a href="#" ng-click="getAppointmentDetails(appointment.Id)" class="li-appointment ui-btn">
                        <span class="sender-title" >{{appointment.DateBooked | date:"MMM dd yyyy"}}</span>
                        <span class="timespan">{{appointment.AppointmentTimeSlot
                            .TimeSlot}}</span>
                        <span class="chat-msg">{{appointment.Hospital.Name}},{{appointment.Branch.Name}}</span>
                    </a>
                    <span class="read-status-{{appointment.IsRead}}"></span>
                </li>

            </ul>
            <div ng-show="appointments.length===0" class="col-md-12 col-xs-12">
                <p class="empty-results">No appointments found.</p>
            </div>

        </div>

    </div>
    <!--Close Page-->
    <div data-role="page" id="appointmentDetails" data-theme="a">
        <div data-role="header">
            <a href="#" data-role="none"
               class="jqm-navmenu-link ui-btn ui-btn-icon-notext  ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
            <img src="images/logo.png" width="254" height="56" alt=""/>
        </div>
        <div data-role="content">
            <form id="fmEditAppointment">

                <div data-role="fieldcontain">
                    <label for="textinput6">Hospital: {{appointment.Hospital.Name}}</label>


                </div>
                <div data-role="fieldcontain">
                    <label for="textinput6">Branch: {{appointment.Branch.Name}}</label>


                </div>
                <div data-role="fieldcontain">
                    <label for="textinput6">Speciality: {{appointment.Speciality.Name}}</label>


                </div>
                <div data-role="fieldcontain">
                    <label>Date:</label>
                    <input disabled="disabled" name="DateBooked" value='{{appointment.DateBooked | date:"MMM dd yyyy"}}'
                           type="text" data-role="datebox"
                           data-options='{"mode":"flipbox"}'>
                </div>
                <div data-role="fieldcontain">
                    <label>Time:</label>
                    <input disabled="disabled" name="TimeBooked" value="{{appointment.TimeBooked}}" type="text"
                           data-role="datebox"
                           data-options='{"mode":"timeflipbox","overrideTimeFormat": 12}' readonly>
                </div>

                <div data-role="fieldcontain">
                    <label for="textinput6">Surname:</label>
                    <input disabled="disabled" type="text" name="Surname" value="{{appointment.Surname}}"/>
                </div>
                <div data-role="fieldcontain">
                    <label for="textinput5">First Name:</label>
                    <input disabled="disabled" type="text" name="FirstName" value="{{appointment.FirstName}}"/>
                </div>
                <div data-role="fieldcontain">
                    <label for="textinput5">Last Name:</label>
                    <input disabled="disabled" type="text" name="LastName" value="{{appointment.LastName}}"/>
                </div>
                <div data-role="fieldcontain">
                    <label for="textinput4">Phone:</label>
                    <input disabled="disabled" type="text" name="Phone" value="{{appointment.Phone}}"/>
                </div>
                <div data-role="fieldcontain">
                    <label for="textinput3">Email:</label>
                    <input disabled="disabled" type="text" name="Email" value="{{appointment.Email}}"/>
                </div>

                <div data-role="fieldcontain">
                    <fieldset disabled data-role="controlgroup" data-type="horizontal">
                        <legend>Gender</legend>
                        <input type="radio" name="GenderId" ng-checked="(appointment.GenderId == 1)" id="gender_0"
                               value="1"/>
                        <label for="gender_0">Male</label>
                        <input type="radio" name="GenderId" ng-checked="(appointment.GenderId == 2)" id="gender_1"
                               value="2"/>
                        <label for="gender_1">Female</label>
                    </fieldset>
                </div>

                <div data-role="fieldcontain">
                    <label for="textinput6">Payment Mode: {{appointment.PaymentMode.Name}}</label>
                </div>
                <div class="insurance-cont" ng-show="{{appointment.PaymentModeId==2}}">
                    <div class="edit-insurance" data-role="fieldcontain">
                        <label for="textinput6">Insurance: {{appointment.InsuranceCompany.Name}}</label>
                    </div>
                    <div class="edit-insurance" data-role="fieldcontain">
                        <label for="textinput3">Membership No.: {{appointment.MembershipNo}}</label>

                    </div>
                </div>
                <div data-role="fieldcontain">
                    <label for="textarea">Additional Information:</label>
                    <textarea cols="40" rows="8" value="{{appointment.AdditionalInfo}}"
                              name="AdditionalInfo"></textarea>
                </div>

                <input type="hidden" class="bookUserId" name="UserId" value="{{appointment.Id}}"/>
                <!--
                <button id="btnEditAppointment" data-icon="star">Submit</button>
                -->
            </form>

            <!-- Start Popup --->
            <a id="lnk-edit-appointment-popup" class="lnkpopup hidden" href="#edit-appointment-popup" data-rel="popup"
               data-position-to="window" data-transition="pop" data-role="none">PopUp</a>

            <div data-role="popup" id="edit-appointment-popup" data-dismissible="true" style="max-width: 400px;">
                <div data-role="header">
                    <h1 class="popup-header">Success</h1>
                </div>
                <div role="main" class="ui-content">
                    <div class="popup-text">
                        <p>Appointment successfully edited. The service will get back to you.</p>
                    </div>
                    <div class="mc-text-left">
                        <a data-role="button" href="#" class="close-popup">Close</a>
                    </div>

                </div>
            </div>
            <!-- End Popup --->


        </div>
        <div data-role="footer">
                 <pre id="output">

                 </pre>
        </div>
    </div>
    <!-- Close Page -->
    <div id="forgot-password" class="login-register" data-role="page">
        <div data-role="header">
            <a href="#" data-role="none"
               class="jqm-navmenu-link ui-btn ui-btn-icon-notext  ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
            <img src="images/logo.png" width="254" height="56" alt=""/>
        </div>
        <div data-role="content" data-theme="a">

            <br/>
            <p>
                Enter your email below to recover your password.
            </p>


            <form name="password-reset" id="frm-forgot-password" class="register" method="POST">
                <input type="text" name="Email" id="txtEmailReset" placeholder="Email Address" value="">
                <button class="passwordResetButton" data-icon="arrow-r">Submit</button>
            </form>


        </div>
    </div>
    <div data-role="page" id="product-details" data-theme="a">
        <div data-role="header">
            <a href="#" data-role="none"
               class="jqm-navmenu-link ui-btn ui-btn-icon-notext  ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
            <img src="images/logo.png" width="254" height="56" alt=""/>
        </div>
        <div id="hospital-details" data-bind="foreach: singleHospital" data-role="content">


            <div class="row small-gutter branch-header">
                <div class="col-md-3 col-xs-3 clientlogo">
                    <a data-lightbox="product-img" class="clearfix text-white"
                       href='{{UploadsRoot}}/products/{{product.Image}}'>
                        <img src="{{UploadsRoot}}/products/th_{{product.Image}}" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9 no-gutter">
                    <div class="col-lg-12 col-xs-12 col-sm-12">

                        <a class="title-link" href="#"
                           ng-click="getHospitalDetails(hospital.Id)">
                            {{product.Name}}</a>
                        <label><strong>Category:</strong> {{product.Category.Name}}</label>

                    </div>
                </div>
            </div>

            <!-- row-->
            <div class="row">

                <div class="col-md-12 details-cont">
                    <div ng-bind-html="product.Description" id="desc"></div>

                    <h2 class="bordered">Surplier Details</h2>
                    <div>
                        <label>Name:</label>{{product.Surplier.Name}}
                    </div>
                    <div ng-show="product.Surplier.Phone!=='' && product.Surplier.Phone!==null">
                        <label>Phone:</label><a href="tel:{{product.Surplier.Mobile}}">{{product.Surplier.Phone}}</a>
                    </div>

                    <div ng-show="product.Surplier.Email!=='' && product.Surplier.Email!==null">
                        <label>Email:</label><a href="mailto:{{product.Surplier.Email}}">{{product.Surplier.Email}}</a>
                    </div>
                    <div ng-show="product.Surplier.Website!=='' && product.Surplier.Website!==null">
                        <label>Website:</label><a href="{{product.Surplier.Website|httpWebsite}}">{{product.Surplier.
                        .Website}}</a>
                    </div>

                </div>


            </div>

        </div>
    </div>


    <div id="customPreloader" class="ui-loader ui-corner-all ui-body-a ui-loader-default"><span
            class="ui-icon-loading"></span>
        <h1>loading</h1></div>

</main>

<!--

<script src="http://localhost:14931/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="http://localhost:14931/signalr/hubs"></script>
-->

<script src="http://ay.kendevs.com/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="http://ay.kendevs.com/signalr/hubs"></script>

<script src="themes/js/bootstrap.min.js"></script>

<script src="themes/js/common.js"></script>

<script src="themes/js/angular.min.js"></script>
<script src="themes/js/angular-sanitize.min.js"></script>
<script src="themes/js/customSelect.js"></script>
<script src="themes/js/lightbox.js"></script>
<script src="themes/js/doctor.js"></script>
<script src="themes/js/signalr-doctor.js"></script>

</body>
</html>
